body {
  font-size: 14px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  color: rgba(0, 0, 0, 0.8);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  outline: none;
}

select,
button:not(:disabled),
input[type="range"]::-webkit-slider-thumb,
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

ul {
  /* removes the list bullets */
  list-style: none;
  margin-left: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom range slider handle styles */
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 2px solid #0092b8;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-moz-range-thumb:hover {
  background: #f7f7f7;
}

/* Custom range styles for building a dual slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  width: 100%;
  border-radius: 4px;
  position: absolute;
  background-color: #d1d1d1;
  pointer-events: none;
}

#minSlider {
  height: 0;
  z-index: 1;
}
